* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: 'Helvetica Neue';
}

header {
    background-color: #88aed0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.nav-link {
    transition: 0.6s ease;
    color: white;
}

.nav-link:hover {
    color: #262626;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    border-radius: 2px;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(135deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-135deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: #143d59;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 6px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

img {
    max-width: 100%;
    margin-right: 16px;
    float: left;
    border: 1px solid #143d59 !important;
    border-radius: 2px;
}

.wrapper-img {
    margin: 20px;
    width: 250px;
}

.wrapper {
    margin-top: 30px;
    margin-left: 16px;
    width: 90%;
}

.text-box {
    color: #3c3c3c;
}

.text-box h2 {
    font-size: 36px;
}

.text-box p {
    font-size: 20px;
}

